<app-menu-bar (onDebounce)="searchUser($event)"
                [users]="users"></app-menu-bar>
<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success  ml-6" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<div class="table-container">
    <p-table [value]="users" [tableStyle]="{'min-width': '50rem'}"
        [(contextMenuSelection)]="selectedUser"
        [contextMenu]="cm" dataKey="code"
        [tableStyle]="{'min-width': '640px'}"
        [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr [pContextMenuRow]="user">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td><img [src]="user.profileImageUrl" [alt]="user.firstName" width="50" class="shadow-4" /></td>
        </tr>
    </ng-template>
</p-table>
</div>
<p-dialog header="Nuevo Usuario" [(visible)]="displayModal"[responsive]="true">
     <p-dropdown [options]="roles" [(ngModel)]="selectedRole" name='Rol' optionLabel="name" optionValue="code"
        [virtualScroll]="true" [virtualScrollItemSize]="30"></p-dropdown>
               
    <form [formGroup]="addForm" (ngSubmit)="onAddUser(addForm.value)">
        
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Nombre" type="text"formControlName="firstName">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Apellido" type="text"formControlName="lastName">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Usuario" type="text"formControlName="username">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Email" type="email"formControlName="email">
        </div> <!-- form-group// -->
       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
        </div> <!-- form-group// -->                                                                       
    </form>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
